// Rename this file to secrets.h and add your secret details.

// Network setup
#define WIFI_SSID "myssid"
#define WIFI_PASSWORD "supersecretpassword"

#define HOSTNAME "splitflap" // e.g. splitflap.local

#define WS_HOST "yourhost.com"
#define WS_PORT 443     // Task is hardcoded for wss
#define WS_PATH "/your-url" 